<ion-header  class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="ion-no-margin">
  <ion-card-header>

    <ion-card-title>
      Welcome
    </ion-card-title>

      <ion-card-subtitle>
        Become a runner and be part of our partner
      </ion-card-subtitle>

  </ion-card-header>

</ion-card>


  <div class="cointainer">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>Courier</ion-card-header>

            <ion-card-content class="ion-text-right">
              <ion-button routerLink="/service-index" color="#ffffff"><ion-icon name="return-up-forward-sharp"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>  
        </ion-col>
        <ion-col>
          <ion-button routerLink="" size="default" color="primary">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
