<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button routerLink="/tabs/choose-category">
				<ion-icon name="return-up-back-sharp" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
    
    <ion-title>Service - Transport</ion-title>

	</ion-toolbar>

</ion-header>

<ion-content>

  <div class="container">

    <ion-item lines="none">

        <ion-searchbar></ion-searchbar>
    
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-card>
            <ion-card-header color="primary">Transport to KLIA</ion-card-header>

            <ion-card-content class="ion-text-left">
              <ion-card-subtitle>29/6/2021</ion-card-subtitle>
              <ion-card-subtitle>10:30 AM</ion-card-subtitle>
              <ion-card-subtitle>Shah Alam, Selangor</ion-card-subtitle>

            </ion-card-content>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff">View</ion-button>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-card>
            <ion-card-header color="primary">Transport to Dataran Pahlawan</ion-card-header>

            <ion-card-content class="ion-text-left">
              <ion-card-subtitle>2/7/2021</ion-card-subtitle>
              <ion-card-subtitle>11:30 AM</ion-card-subtitle>
              <ion-card-subtitle>Bandaraya Melaka, Melaka</ion-card-subtitle>

            </ion-card-content>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff">View</ion-button>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-card>
            <ion-card-header color="primary">Transport to Mid Valley Megamall</ion-card-header>

            <ion-card-content class="ion-text-left">
              <ion-card-subtitle>2/7/2021</ion-card-subtitle>
              <ion-card-subtitle>11:30 AM</ion-card-subtitle>
              <ion-card-subtitle>Bukit Bintang, Kuala Lumpur</ion-card-subtitle>

            </ion-card-content>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff">View</ion-button>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

    </ion-grid>


  </div>


</ion-content>