ion-header {

    ion-toolbar, ion-item {
      --background: #f1f5f8;
      background: #f1f5f8;
      padding: 0 10px;
    }
  
    ion-toolbar {
      .bordered {
        --border-radius: 10px;
        --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
      }

      ion-title {
        color: #1E90FF;
        font-size: 14px;
      }
    }

}

ion-content {
    --background: #f1f5f8;
   padding-left: 50px;
   padding-right: 20px;

    .container {
        background: #f1f5f8;

        ion-card {
            background: #fff;

        ion-card-content {
            ion-button {
                --color: #3880ff;
        
            }
        }   
 
            ion-icon {
             color: #3880ff;
         }

         ion-item {
            --background: #f1f5f8;
 
        }

    }

        ion-item {
            --background: #f1f5f8;
 
        }

    
    }

}

