<ion-content [fullscreen]="true"></ion-content>
<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="choose-category">
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="request-choose-status">
      <ion-icon name="server-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="choose">
      <ion-icon name="chatbox-ellipses"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>