<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="upper">

    <ion-card-header>
    
      <ion-card-title>Login</ion-card-title>
  
    </ion-card-header>

`</div>

  <div class="cointainer">

        <ion-item lines="none">
            <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>

      <ion-button shape="round" color="primary" expand="block">Login</ion-button>

  </div>

</ion-content>
