<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="upper">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="reorder-three"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <h2>Hello Iman</h2>

  </div>

  <div class="cointainer">

    <ion-grid>

      <ion-row>
        <ion-col>

          <ion-card>
            <ion-card-header>Others</ion-card-header>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff"><ion-icon name="return-up-forward-sharp" color="light"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-card>
            <ion-card-header>Others</ion-card-header>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff"><ion-icon name="return-up-forward-sharp" color="light"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid>

      <ion-row>
        <ion-col>

          <ion-card>
            <ion-card-header>Others</ion-card-header>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff"><ion-icon name="return-up-forward-sharp" color="light"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
         
        </ion-col>
        <ion-col>

          <ion-card>
            <ion-card-header>Others</ion-card-header>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff"><ion-icon name="return-up-forward-sharp" color="light"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-card>
            <ion-card-header>Others</ion-card-header>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff"><ion-icon name="return-up-forward-sharp" color="light"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
         
        </ion-col>
        <ion-col>

          <ion-card>
            <ion-card-header>Others</ion-card-header>

            <ion-card-content class="ion-text-right">
              <ion-button color="#ffffff"><ion-icon name="return-up-forward-sharp" color="light"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>


    </ion-grid>


  </div>

</ion-content>
